@page
@model Pricope_Delia_project.Pages.Produse.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Produse Flantastice</h1>
<p class="text-muted italic">
    <strong>Pentru comenzi:</strong> <a href="tel:0723456789">0723456789</a>
</p>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Pret)
            </th>
            <th>Descriere</th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Categorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            
            </td>
                <td>
                    @{
                        string desc = item.Descriere ?? "";
                        if (desc.Length > 50)          // Trunchiază descrierea dacă este prea lungă
                        {
                            desc = desc.Substring(0, 50) + "...";
                        }
                    }
                    @desc
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.NumeCategorie)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> 
            </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
