@page
@model Pricope_Delia_project.Pages.Produse.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Produse Flantastice</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Pret)
            </th>
            <th>Descriere</th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Categorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            
            </td>
                <td>
                    @{
                        string desc = item.Descriere ?? "";
                        if (desc.Length > 50)          // Trunchiază descrierea dacă este prea lungă
                        {
                            desc = desc.Substring(0, 50) + "...";
                        }
                    }
                    @desc
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.NumeCategorie)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
