@page
@model Pricope_Delia_project.Pages.Categorii.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Categorii";
}

<h1>Categorii de produse</h1>
<p class="text-muted italic">
    <strong>Pentru comenzi:</strong> <a href="tel:0723456789">0723456789</a>
</p>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie[0].NumeCategorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categorie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeCategorie)
            </td>
            <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
            </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>}
        </tr>
}
    </tbody>
</table>
